.header {
  height: 4.375rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5625rem;

  .logo-container {
    margin: auto 0px;
    margin-left: 1.5rem;
  }

  .logo,
  .logo-container {
    width: 4rem;
    height: 100%;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0.625rem 1rem;
      cursor: pointer;
    }
  }
}
